/* InfoBars formatting */

#infoBars {
    margin-bottom: -25px;
}

@media (max-width: 768px) {
    #infoBars {
        margin-top: -5px;
    }
}

#infoBars a{
    text-decoration: none;
    user-select: none;
}
#infoBars a:hover{
    cursor: pointer;
}
#infoBars-bars{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
@media (max-width: 768px) {
    #infoBars-bars{
        column-gap: 1%;
    }
}
#infoBars-bars div{
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}
#infoBars-bars #FirstTime{
    background-color: #926aed;
}
#infoBars-bars #FAQ{
    background-color: #00aa90;
}
#infoBars-bars #ContactUs{
    background-color: #f99d25;
}

#infoBars-content-wrapper[active="false"] {
    display: none;
}
#infoBars-content-wrapper[active="true"] {
    display: block;
}

#infoBars-content-wrapper div[active="false"] {
    display: none;
}
#infoBars-content-wrapper div[active="true"] {
    display: block;
    width: 66%;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
}
@media (max-width: 768px) {
    #infoBars-content-wrapper div[active="true"] {
        width: calc(85% - 25px);
    }
}
@media (max-width: 500px) {
    #infoBars-content-wrapper div[active="true"] {
        width: calc(100% - 8px);
    }
}

#FAQ-content{
    background-color: #82c9bf;
    margin: auto;
    padding: 10px;
    padding-bottom: 1px;
    box-sizing: border-box;
}

#ContactUs-content{
    background-color: #fda93b;
    color: white;
    margin-left: auto;
    padding: 15px 10px 15px 10px;
    box-sizing: border-box;
}

#FirstTime-content {
    background-color: #a98af1;
    color: white;
    padding: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

/* FAQ formatting */
.FAQ_question-bar {
    user-select: none;
    padding: 4px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0 #0000006c;
    text-indent: -17px;
    padding-left: 21px;
    cursor: pointer;
    font-size: 14px;
}
.FAQ_question[answer-active="true"] .FAQ_question-bar {
    background-color: #926aed;
    color: white;
    box-shadow: 0px 2px 2px 0px #000000aa;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.FAQ_hideShow {
    color: #926aed;
    font-size: 14px;
}
.FAQ_question[answer-active="true"] .FAQ_hideShow {
    color: white;
}
.FAQ_answer {
    background-color: rgba(236, 214, 255, 0.823);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    user-select: none;
    box-shadow: 1px 2px 4px 1px #00000080;
    font-size: 14px;
}
.FAQ_question[answer-active="false"] .FAQ_answer {
    display: none;
}

/* FirstTime formatting */
#FirstTime-content h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1px;
}
#FirstTime-content h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    margin-top: 7px;
    margin-left: 3px;
}

#FirstTime-content p {
    font-size: 1.6rem;
    line-height: 1.75rem;
    margin: 0;
    margin-left: 10px;
    color: #452e7c;
}

#FirstTime-content #firstTimeIntro {
    font-size: 1.7rem;
    line-height: 1.9rem;
    margin-left: 2px;
    color: #efe8ff;
}

.step-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.step {
    display: flex;
    align-items: top;
    gap: 7px;
}

.step-number {
    font-size: 2rem;
    font-weight: bold;
    background-color: #926aed;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 1px 1px 2px 0 #00000055;
}

.firstTime-check-membership-btn {
    background-color: #68aee0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0 5px -5px;
    box-shadow: 2px 2px 3px 1px #00000066;
}

.firstTime-check-membership-btn:hover {
    background-color: #4f94c6;
    color: white;
}


/* Shorten the title on mobile */
#title-short{
    display: none;
}
@media (max-width: 768px) {
    .infoBars-title{
        font-size: 90%;
    }
    #title-long{
        display: none;
    }
    #title-short{
        display: inline;
    }
}
@media (max-width: 350px) {
    .infoBars-title{
        font-size: 80%;
    }
    .infoBars-hideShow{
        font-size: 80%;
    }
}
@media (max-width: 300px) {
    .infoBars-title{
        font-size: 70%;
    }
    .infoBars-hideShow{
        font-size: 70%;
    }
}

/* Contact Us Formatting */

#ContactUs-content p {
    margin: 0 0 10px 5px;
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
}

#ContactUs-content h2 {
    margin: 0 0 10px 0;
    font-size: 2rem;
    font-weight: bold;
    -webkit-text-stroke: .1px #ffffff;
    display: inline-block;
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#ContactUs-content div a div {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0px;
    box-shadow: 2px 2px 3px 1px #00000066;
    font-size: 1.55rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #5ca5ff !important;
}

span.unbold{
    font-weight: normal !important;
    margin-left: 5px;;
}

#phone-button div{
    background-color: #68aee1;
}
#email-button div{
    background-color: #68aee1;
}
#discord-button div{
    background-color: #926aed;
}
#insta-button div{
    background-color: #f24b7f;
}
#linktree-button div{
    background-color: #ffffff;
}

#phone-button:hover,
#email-button:hover,
#discord-button:hover,
#insta-button:hover,
#linktree-button:hover {
    filter: brightness(105%);
}

.faq-link {
    background-color: #01a791;
    padding: 4px 6px;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 0 0 2px #005348;
    color: white;
    text-decoration: none;
    line-height: 150%;
}

.faq-link:hover {
    filter: brightness(85%);
}